@import 'tailwindcss';

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
  /* --font-sans: var(--font-barlow), 'Inter', sans-serif; */
  /* --font-display: var(--font-barlow), 'Inter', sans-serif; */

  --font-sans:
    var(--font-barlow), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --font-kanit: var(--font-kanit), ui-sans-serif, system-ui, sans-serif;

  --font-display: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
  --color-primary: #006fee;
  --color-primary-hover: #005bc4;
  --color-zinc-850: #27272a;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-background-light: #f4f4f5;
  --color-background-dark: #000000;
  --color-card-dark: #18181b;
  --color-card-light: #ffffff;
  --color-volt: #ccff00;

  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;

  --shadow-hero:
    0 0 0 1px rgba(255, 255, 255, 0.1), 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-hero-light:
    0 0 0 1px rgba(0, 0, 0, 0.05), 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

/* 1. Body usa font-sans (Barlow) por defecto */
body {
  font-family: var(--font-barlow), ui-sans-serif, system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-kanit), ui-sans-serif, system-ui, sans-serif;
  font-weight: 600; /* Opcional: Kanit se ve bien un poco gruesa */
}
